body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

* {
    box-sizing: border-box;
}

.top-container {
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;
}

h1 {
    margin: 10px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

a {
    color: #11999E;
}

p {
    color: #40514E;
}

span {
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    top: 50px;
    right: 300px;
}

.bottom-cloud {
    position: absolute;
    top: 400px;
    left: 300px;
}

.mountain {
    width: 650px;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}
.webdev-img {
    width: 20%;
    float: left;
    margin-right: 30px;
}
.program-img {
    width: 20%;
    float: right;
    margin-left: 30px;
}

.profile {
    padding-top: 80px;
}

.short-bio {
    width: 35%;
    margin: 70px auto;
    line-height: 2;
}

hr {
    border-style: none;
    border-width: 8px;
    width: 6%;
    border-top-style: dotted;
    border-color: #dadada;
    margin-bottom: 100px;
}

.contact-description {
    width: 40%;
    margin: 30px auto;
    line-height: 2;
}

.contact-me {
    /* margin-bottom: 50px; */
    padding-bottom: 100px;
}

.btn {
    text-decoration: none;
    padding: 10px 20px;
    color: #fff;
    background-color: #11999E;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    border-radius: 8px
}

.bottom-container {
    background-color: #66BFBF;
    width: 100%;
    padding: 30px;
}

.bottom-container p {
    color: #EAF6F6;
    font-size: 0.9rem;
}
.bottom-container a {
    color: #11999E;
    margin: auto 20px;
    text-decoration: none;
}

